<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">

</head>

<body>
    <h1>Type in a review!</h1>
    <form action="{{ url_for('index')}}" method="post">
        <textarea type="text" id="reviewId" name="review" placeholder="description" rows="4" cols="75"></textarea>
        <button type="submit">Submit Review</button>
</body>

</html>